:root {
  --cyan: #3b7887;
  --cyan-dark: #326571;
  --cyan-light: #27a0be;

  --red: #bc2015;
  --red-dark: #9c1b11;
  --red-light: #cf2317;

  --violet: #492b9c;
  --violet-dark: #3c2380;
  --violet-light: #4516c5;

  --gray: #4d4d4d;
  --gray-dark: #292929;
  --gray-light: #737373;

  --beige: #f7e7ce;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, #1a1919, #353131);
}

main {
  padding: 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header {
  background-color: #101010;
  border-bottom: 1px solid white;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  color: whitesmoke;

  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 30px;
  color: whitesmoke;
  border-radius: 10%;
  background: linear-gradient(270deg, var(--gray), var(--gray-dark));
  cursor: pointer;
  box-shadow: inset -3px -3px 3px rgba(0, 0, 0, 0.5),
    inset 3px 3px 5px rgba(0, 0, 0, 0.4);
  user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  background: linear-gradient(270deg, var(--gray-light), var(--gray-dark));
}

.operator-button {
  background: linear-gradient(270deg, var(--cyan), var(--cyan-dark));
}

.operator-button:hover {
  background: linear-gradient(270deg, var(--cyan-light), var(--cyan));
}

#calculator {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  min-height: 400px;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: linear-gradient(45deg, #303030, #0f0f0f);
  box-shadow: inset -7px -7px 5px rgb(0, 0, 0), inset 7px 7px 5px rgb(0, 0, 0);
  padding: 2.5rem;
  border: 1px solid gray;
  border-radius: 5%;
  gap: 0.9rem;
  font-size: 1.5rem;
}

#display {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  border-radius: 10px;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-size: 1.5rem;
  text-wrap: nowrap;
  padding: 10px;
  box-shadow: inset -2px -2px 2px rgb(0, 0, 0), inset 3px 2px 2px rgb(0, 0, 0);
  border: 1px solid gray;

  #display-message {
    flex: auto;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  #display-text {
    max-width: 100%;
    overflow-x: auto;
  }
}

#clear-button {
  background: linear-gradient(270deg, var(--red), var(--red-dark));
  grid-column: 1 / span 2;
}

#clear-button:hover {
  background: linear-gradient(270deg, var(--red-light), var(--red));
}

#equals-button {
  background: linear-gradient(270deg, var(--violet), var(--violet-dark));
  height: auto;
  grid-column: 4;
  grid-row: 6 / span 1;
}

#equals-button:hover {
  background: linear-gradient(270deg, var(--violet-light), var(--violet));
}

#output {
  display: none;
  font-size: 2rem;
  border: 1px solid gray;
  color: whitesmoke;
  background: linear-gradient(45deg, #303030, #0f0f0f);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 80;
  max-width: 100%;
  overflow-x: auto;

  div {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }
}

.node {
  fill: black;
  stroke: blue;
  stroke-width: 1.5;
}

.label {
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-anchor: middle;
  fill: white;
  /* Change text color to white */
}

.line {
  stroke: black;
  stroke-width: 1;
}