:root {
  --cyan: #16a3c7;
  --cyan-dark: #326572;
  --cyan-light: #8ed6e8;

  --red: #be2015;
  --red-dark: #9c1a11;
  --red-light: #c72316;

  --violet: #492b9c;
  --violet-dark: #433272;
  --violet-light: #4516c7;

  --gray: #a9a9a9;
  --gray-dark: #686868;
  --gray-light: #bebebe;

  --beige: #f7e7ce;

  --magenta-dark: hsl(289, 31%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(0deg, var(--magenta-dark), black);
}

main {
  padding: 10px;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

footer {
  flex: auto;
  background-color: #101010;
  border-top: 1px solid white;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  /* flex-direction: column; */
  justify-content: space-between;
  color: whitesmoke;

  a {
    color: white;
    text-decoration: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 30px;
  color: whitesmoke;
  border-radius: 10px;
  background: linear-gradient(90deg, var(--gray), var(--gray-dark));
  cursor: pointer;
  box-shadow: inset -5px -5px 5px rgba(0, 0, 0, 0.3),
    inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-shadow: -1px 1px 2px #0f0f0f;
  user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  background: linear-gradient(90deg, var(--gray-light), var(--gray));
}

.operator-button {
  background: linear-gradient(90deg, var(--cyan), var(--cyan-dark));
}

.operator-button:hover {
  background: linear-gradient(45deg, var(--cyan-light), var(--cyan));
}

#calculator {
  width: 100%;
  max-width: 600px;
  height: 80vh;
  min-height: 400px;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: linear-gradient(45deg, #303030, #0f0f0f);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px rgba(80, 80, 80, 0.5),
    inset 5px 5px 5px rgba(80, 80, 80, 0.7);
  padding: 2.5rem;
  border: 1px solid gray;
  border-radius: 5%;
  gap: 0.9rem;
  font-size: 1.5rem;
}

#display {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  border-radius: 10px;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-size: 1.5rem;
  text-wrap: nowrap;
  padding-bottom: 10px;

  #display-message {
    flex: auto;
    padding-right: 5px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  #display-text {
    max-width: 100%;
    outline: none;
    overflow-x: auto;
  }
}

#clear-button {
  background: linear-gradient(90deg, var(--red), var(--red-dark));
  grid-column: 1 / span 2;
}

#clear-button:hover {
  background: linear-gradient(90deg, var(--red-light), var(--red));
}

#equals-button {
  background: linear-gradient(90deg, var(--violet), var(--violet-dark));
  height: auto;
  grid-column: 4;
  grid-row: 6 / span 1;
}

#equals-button:hover {
  background: linear-gradient(90deg, var(--violet-light), var(--violet));
}

#output {
  display: none;
  font-size: 2rem;
  border: 1px solid gray;
  color: whitesmoke;
  background: linear-gradient(45deg, #303030, #0f0f0f);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 10px;

  div {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
  }

}
