html,
body {
    height: 100%;
    padding: 0%;
    margin: 0 auto;
}

.jumbotron-fluid {
    height: 65%;
}

.calc {
    background-color: #ddc !important;
    padding: 2%;
    padding-top: 4%;
    height: 90%;
}

.keyboard {
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 80%;
}

.key {
    border: 1px #887 solid;
    font-size: 1.2em;
    background-color: #aa9;
    height: 25%;
}

.key:hover {
    font-size: 1.3em;
    background-color: #bba;
}

.screen {
    padding-top: 2%;
}

.container-fluid {
    background-color: #ffffef;
    height: 100%;
    /* margin: 0 auto; */
    /* box-shadow: -1px 0px 2px 2px #ddc; */
}

.blog-header {
    line-height: 1;
    border-bottom: 2px solid #eed;
    text-align: center;
}

header a {
    font-size: 1.1em;
    text-decoration: none;
    color: black;
}